.pokemon-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}
.poke-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  box-sizing: content-box;
  /* border: 1px solid black; */
  background-color: rgba(255, 255, 255, 0.406);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  border-radius: 1.5rem;
  box-shadow: slategrey 8px 8px 5px;

}
.pokemon-image{
    height: 50%;
}
.pokemon-name{
  margin: 0.75rem 0;
}
.pokemon-types{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.pokemon-type{
  font-size: 0.5rem;
  padding: 0.2rem 0.5rem;
}
