@import url('./styles/NavBar.css');
@import url('./styles/PokeList.css');
@font-face {
  font-family: 'Pokemon Classic'; /* Give your font a recognizable name */
  src: url('/fonts/Pokemon Classic.ttf') format('truetype'); /* Path relative to public folder */
  font-weight: normal; /* Adjust if your font has different weights */
  font-style: normal;  /* Adjust if your font has different styles */
  font-display: swap;  /* Recommended for better performance (controls how font loads) */
}

.main{
  --primary-color: rgba(134, 255, 253, 0.626);
  --secondary-color: gold;
  background-color: var(--primary-color);
  height: 90vh;
  width: 80vw;
  padding: 2rem 8rem;
  /* border-radius: 2rem; */
  overflow-y: scroll;
  scrollbar-width:auto; /* 'auto' | 'thin' | 'none' */
  scrollbar-color: rgb(255, 255, 255) rgba(134, 255, 253) ; /* thumb color, track color */
}
.background-mask{
  background-image: url("/pokemon-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 450px) {
  .main{
    height: 100vh;
    width: 100vh;
    margin: 1rem 1rem 1rem 1rem;
    padding: 1rem;
  }
  .background-mask{
    background-position: right;
  }
  .pokemon-list{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0;
    margin: 0;
  }
  .navbar{
    font-size: 10px;
  }
  .navbar button{
    font-size: 10px;
  }
  .actions{
    justify-content:unset;
  }
}
